/app.log
/.idea/
/data/data/
/data/data - Copy/
/data/weights/
/data/PDFs/БЖД merged.pdf
/data/index/
/.venv
/new_env
*.env
/old_tests
/_temp
*chroma
*__pycache__
flagged
gradio_cached_examples
/data
/gradio_ui/pictures/*